.light.dark {
    background-color: rgb(39, 37, 37);
    color: #fff;
}

.switch1 {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background-color: #615b5b;
    position: fixed;
    right: 3%;
    top: 13%;
    z-index: 5;
    cursor: pointer;
    animation: modalFaneIn ease 1s;
}

.switch1:hover {
    background-color: #2e2a2a;
    opacity: 0.8;
}

.switch1.off {
    display: none;
}

.switch2.on {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background-color: yellow;
    position: fixed;
    right: 3%;
    top: 13%;
    z-index: 5;
    cursor: pointer;
    animation: modalFaneIn ease 1s;
}

.switch2:hover {
    background-color: rgb(240, 240, 15);
    opacity: 0.8;
}


