* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html, body {
    font-family: Verdana,sans-serif;
    font-size: 15px;
    line-height: 1.5;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Segoe UI",Arial,sans-serif;
    font-weight: 400;
    margin: 10px 0;
}

#main {
    overflow: hidden;
}

#header {
    height: 55px;
    background-color: #fff!important;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
}
#header .subhea {
    padding: 8px 16px;
    position: relative;
}

a {
    text-decoration: none;
}

#header .subhea .home a {
    display: inline-block;
    position: absolute;
    padding: 8px 16px;
}

#header .subhea .home:hover a {
    color: #000!important;
    background-color: #ccc!important;
}

#header .subhea .subhome {
    float: right;
    padding: 0 16px;
}

#header .subhea .subhome li {
    display: inline-block;
}

#header .subhea .subhome a {
    display: block;
    padding: 8px 16px;
}

#header .subhea .subhome a:hover {
    color: #000!important;
    background-color: #ccc!important;
}

#header a {
    color: #000;
}

#slider {
    padding: 0px 8px ;
}

#slider .img {
    position: relative;
}

#slider .img img {
    width: 100%;
    height: 100%s;
}

#slider .img .keyw .subkey {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    
}

#slider .img .br {
    padding: 8px 16px;
    color: #fff!important;
    background-color: #000!important;
    opacity: 0.75;
}

#slider .img .arc {
    color: #f1f1f1!important;
}

#project {
    padding: 0 32px;
    overflow: hidden;
}

#project .prohea {
    padding: 32px 0;
}

#project .prohea .subpro {
    padding: 16px 0;
    font-size: 24px;
}

hr {
    opacity: 0.3;
}

.subsp {
    display: block;
    overflow: hidden;
}

.house {
    width: 25%;
    padding: 16px 0;
    float: left;
    position: relative;
}

.house img {
    width: 100%;
    padding: 8px 8px;
}

.house p {
    color: #000;
    padding: 0 8px;
}

.hover {
    opacity: 1;
    cursor: pointer;
}

.hover:hover {
    opacity: 0.8;
}

#about {
    padding: 32px 16px;
    display: block;
    overflow: hidden;
}

#about .heaabout p {
    padding: 16px 0;
    font-size: 24px;
}

.heaabout {
    padding: 32px 16px;
}

#about .team-item {
    float: left;
    width: 20%;
    padding: 0 8px;
    margin-bottom: 16px;
    padding-bottom: 56px;
}

#about .team-item img {
    width: 100%;
}

.team-item h2 {
    font-size: 21px;
}

.team-item h3 {
    opacity: 0.5;
}

#about .team-item button {
    padding: 8px 16px;
    text-align: center;
    background-color: #f1f1f1;
    display: block;
    color: black;
}

#about .team-item:hover {
    color: #000;
    background-color: #ccc; 
}

#about .team-item button:hover {
    color: #000;
    background-color: rgb(155, 151, 151);
}

.team .team-item button {
    width: 100%;
    cursor: pointer;
}

#contact {
    padding: 8px 16px;
    display: block;
}

#contact .heacon p {
    font-size: 24px;
}

#contact .lienhe .form {
    padding: 8px 8px;
    border: 1px 1px;
}

.lienhe .submit input {
    cursor: pointer;
}

.one {
    width: 100%;
    padding: 8px;
    font: inherit;
}

#contact .submit {
    padding: 10px;
    margin: 16px 0;
}

#contact .submit input {
    color: #fff;
    background-color: #000;
    padding: 10px;
    border: 1px solid #ccc;
    font: inherit;
}

#contact .submit input:hover {
    background-color: #ccc;
    color: #000;
    font: inherit;
}

#map {
    padding: 8px 16px;
}

#map .maps {
    padding: 0 16px;
}

#map .maps img {
    width: 100%;
}

#end {
    padding: 16px 0px;
    background-color: #000;
}

#end p {
    margin: 15px;
    text-align: center;
    color: #fff;
}

#end a {
    text-decoration: underline;
    color: #fff;
}

.facebook a {
    background-color: rgb(26, 121, 211);
    color: #fff;
    padding: 8px 16px;
    border-radius: 16px;
}

.information a {
    text-decoration: none;
}

.github a {
    padding: 8px 16px;
    border: 2px solid #000;
    background-color: #fff;
    color: #000;
    border-radius: 16px;
}

.mxh {
    margin-bottom: 30px;
    position: relative;
}

.mxh h4{
    display: inline;
}

.mxh .facebook:hover a {
    background-color: #fff;
    color: rgb(26, 121, 211);
    border-radius: 16px;
    border: 2px solid rgb(26, 121, 211);
}

.mxh .github:hover a {
    background-color: hsl(231, 70%, 11%);
    color: #fff;
    border-radius: 16px;
}

.modal-img {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 2;
    background-color: rgba(0, 0, 0, 0.7);
    display: none;
    align-items: center;
    justify-content: center;
}

.modal-img .picture {
    background-color: #fff;
    width: 900px;
    max-width: calc(100% - 32px);
    animation: modalFaneIn ease 0.5s;
}

.modal-img .picture img {
    width: 100%;
}
.modal-img.open {
    display: flex;
}

.modal-img2 {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 2;
    background-color: rgba(0, 0, 0, 0.7);
    display: none;
    align-items: center;
    justify-content: center;
}

.modal-img2 .picture {
    background-color: #fff;
    width: 900px;
    max-width: calc(100% - 32px);
    animation: modalFaneIn ease 0.5s;
}

.modal-img2 .picture img {
    width: 100%;
}
.modal-img2.open {
    display: flex;
}

.modal-img3 {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 2;
    background-color: rgba(0, 0, 0, 0.7);
    display: none;
    align-items: center;
    justify-content: center;
}

.modal-img3 .picture {
    background-color: #fff;
    width: 900px;
    max-width: calc(100% - 32px);
    animation: modalFaneIn ease 0.5s;
}

.modal-img3 .picture img {
    width: 100%;
}
.modal-img3.open {
    display: flex;
}

.modal-img4 {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 2;
    background-color: rgba(0, 0, 0, 0.7);
    display: none;
    align-items: center;
    justify-content: center;
}

.modal-img4 .picture {
    background-color: #fff;
    width: 900px;
    max-width: calc(100% - 32px);
    animation: modalFaneIn ease 0.5s;
}

.modal-img4 .picture img {
    width: 100%;
}
.modal-img4.open {
    display: flex;
}

.modal-img5 {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 2;
    background-color: rgba(0, 0, 0, 0.7);
    display: none;
    align-items: center;
    justify-content: center;
}

.modal-img5 .picture {
    background-color: #fff;
    width: 900px;
    max-width: calc(100% - 32px);
    animation: modalFaneIn ease 0.5s;
}

.modal-img5 .picture img {
    width: 100%;
}
.modal-img5.open {
    display: flex;
}

.modal-img6 {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 2;
    background-color: rgba(0, 0, 0, 0.7);
    display: none;
    align-items: center;
    justify-content: center;
}

.modal-img6 .picture {
    background-color: #fff;
    width: 900px;
    max-width: calc(100% - 32px);
    animation: modalFaneIn ease 0.5s;
}

.modal-img6 .picture img {
    width: 100%;
}
.modal-img6.open {
    display: flex;
}

.modal-img7 {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 2;
    background-color: rgba(0, 0, 0, 0.7);
    display: none;
    align-items: center;
    justify-content: center;
}

.modal-img7 .picture {
    background-color: #fff;
    width: 900px;
    max-width: calc(100% - 32px);
    animation: modalFaneIn ease 0.5s;
}

.modal-img7 .picture img {
    width: 100%;
}
.modal-img7.open {
    display: flex;
}

.modal-img8 {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 2;
    background-color: rgba(0, 0, 0, 0.7);
    display: none;
    align-items: center;
    justify-content: center;
}

.modal-img8 .picture {
    background-color: #fff;
    width: 900px;
    max-width: calc(100% - 32px);
    animation: modalFaneIn ease 0.5s;
}

.modal-img8 .picture img {
    width: 100%;
}
.modal-img8.open {
    display: flex;
}

.img-close {
    position: absolute;
    display: none;
}

.avt-item img {
    width: 100%;
}

.modal {
    z-index: 2;
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.7);
    display: none;
    align-items: center;
    justify-content: center;
    min-width: 100% - 32px;
}

.modal .cv-item {
    padding: 8px 16px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
    border-radius: 16px;
    max-width: calc(100% - 32px);
    animation: modalFaneIn ease 0.4s;
}

.modal .avt-item {
    position: relative;
}

.modal .name-item {
    position: absolute;
    bottom: 6px;
    color: #000;
    padding-left: 10px;
}

.modal.open {
    display: flex;
}

.modal-close {
    position: absolute;
    right: 0;
    display: none;
}

.modal-close:hover {
    background-color: red;
    color: #fff;
}

.see-more {
    position: absolute;
    right: 0;
    font-size: 20px;
}

.see-more:hover {
    opacity: 0.7;
}



.modal2 .cv-item {
    padding: 8px 16px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
    border-radius: 16px;
    max-width: calc(100% - 32px);
    animation: modalFaneIn ease 0.4s;
}

.modal2 .avt-item {
    position: relative;
}

.modal2 .name-item {
    position: absolute;
    bottom: 6px;
    color: #000;
    padding-left: 10px;
}

.modal2 {
    z-index: 2;
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.7);
    display: none;
    align-items: center;
    justify-content: center;
    min-width: 100% - 32px;
}

.modal2.open {
    display: flex;
}

.modal3 .cv-item {
    padding: 8px 16px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
    border-radius: 16px;
    max-width: calc(100% - 32px);
    animation: modalFaneIn ease 0.4s;
}

.modal3 .avt-item {
    position: relative;
}

.modal3 .name-item {
    position: absolute;
    bottom: 6px;
    color: #000;
    padding-left: 10px;
}

.modal3 {
    z-index: 2;
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.7);
    display: none;
    align-items: center;
    justify-content: center;
    min-width: 100% - 32px;
}

.modal3.open {
    display: flex;
}

.modal4 .cv-item {
    padding: 8px 16px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
    border-radius: 16px;
    max-width: calc(100% - 32px);
    animation: modalFaneIn ease 0.4s;
}

.modal4 .avt-item {
    position: relative;
}

.modal4 .name-item {
    position: absolute;
    bottom: 6px;
    color: #000;
    padding-left: 10px;
}

.modal4 {
    z-index: 2;
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.7);
    display: none;
    align-items: center;
    justify-content: center;
    min-width: 100% - 32px;
}

.modal4.open {
    display: flex;
}

.modal5 .cv-item {
    padding: 8px 16px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
    border-radius: 16px;
    max-width: calc(100% - 32px);
    animation: modalFaneIn ease 0.4s;
}

.modal5 .avt-item {
    position: relative;
}

.modal5 .name-item {
    position: absolute;
    bottom: 6px;
    color: #000;
    padding-left: 10px;
}

.modal5 {
    z-index: 2;
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.7);
    display: none;
    align-items: center;
    justify-content: center;
    min-width: 100% - 32px;
}

.modal5.open {
    display: flex;
}

@keyframes modalFaneIn {
    from {
        opacity: 0;
        transform: translateY(-200px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}