/* 
Pc: >= 1024px
Tablet: >= 740px & < 1024px
Mobile: < 740px
*/
@media (min-width: 740px) and (max-width: 1024px) { /*ipad*/
    .team-item h2 {
        font-size: 25px;
    }

    .team-item h3 {
        font-size: 35px;
    }

    .team-item p {
        font-size: 20px; 
    }

    #about .leader .team-item {
        width: 50%;
    }

    #about .team-item {
        width: 33%;
    }

    .subhouse {
        overflow: hidden;
    }

    .subhouse .house {
        width: 50%;
    }
}

@media (min-width: 435px) and (max-width: 739px) { /*Mobible màn vừa->lớn*/
    #slider {
        padding-top: 58px;
    }

    #slider h1 {
        font-size: 20px;
    }

    #header .subhea .subhome {
        display: none;
    }

    .team-item h2 {
        font-size: 25px;
    }

    .team-item h3 {
        font-size: 35px;
    }

    .team-item p {
        font-size: 20px; 
    }

    #about .leader .team-item {
        width: 100%;
    }

    #about .team-item {
        width: 100%;
    }

    .subhouse {
        overflow: hidden;
    }

    .subhouse .house {
        width: 100%;
    }

    #map .maps {
        padding: 0 0px;
    }

    #map {
        padding: 2px 0px;
    }

    #end {
        padding: 1px 0px;
    }
}

@media (max-width: 434px) { /*Mobile màn bé*/
    #slider {
        padding-top: 58px;
    }

    #slider h1 {
        font-size: 20px;
    }

    #header .subhea .subhome {
        display: none;
    }

    .team-item h2 {
        font-size: 25px;
    }

    .team-item h3 {
        font-size: 35px;
    }

    .team-item p {
        font-size: 20px; 
    }

    #about .leader .team-item {
        width: 100%;
    }

    #about .team-item {
        width: 100%;
    }

    .subhouse {
        overflow: hidden;
    }

    .subhouse .house {
        width: 100%;
    }

    #map .maps {
        padding: 0 0px;
    }

    #map {
        padding: 2px 0px;
    }

    #end {
        padding: 1px 0px;
    }

    .information > h4 {
        font-size: 15px;
    }

    .name-item h2 {
        font-size: 15px;
    }

    .mxh h4 {
        font-size: 10px;
    }

    .mxh .see-more {
        font-size: 15px;
    }
}